{% extends "@Front/layout.html.twig" %}


{% block content %}
    <div role="main" class="main">

        <div id="about" class="jx-container jx-padding _mPS2id-t mPS2id-target mPS2id-target-first mPS2id-target-last">
            <div class="container">
                <div class="jx-section-title-1">
                    <div class="jx-pre-title">
                        <div class="jx-title-border left"></div>
                        <div class="jx-title-icon"><i class="line-icon icon-diamond"></i></div>
                        <div class="jx-title-border right"></div>
                    </div>
                    <div class="jx-title">LEARN MORE ABOUT iEVENT</div>
                    <div class="jx-subtitle"><p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p></div>
                </div>

                <div class="row"></div>
                <div class="jx-servicebox-2 ">
                    <div class="one-third columns jx-service-item">
                        <div class="service-icon"><i class="line-icon icon-paper-plane"></i></div>
                        <div class="service-title jx-uppercase"><a href="#">Discussion Board</a></div>
                        <div class="service-title-border"></div>
                        <div class="service-description">
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</p>
                        </div>
                    </div>

                    <div class="one-third columns jx-service-item">
                        <div class="service-icon"><i class="line-icon icon-fire"></i></div>
                        <div class="service-title jx-uppercase"><a href="#">Task Managment</a></div>
                        <div class="service-title-border"></div>
                        <div class="service-description">
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</p>
                        </div>
                    </div>

                    <div class="one-third columns jx-service-item">
                        <div class="service-icon"><i class="line-icon icon-lightbulb"></i></div>
                        <div class="service-title jx-uppercase"><a href="#">Board Keynotes</a></div>
                        <div class="service-title-border"></div>
                        <div class="service-description">
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</p>
                        </div>
                    </div>

                </div>

            </div>

        </div>



        <div class="jx-summary-info">
            <div class="container">
                <ul class="jx-summary-box">
                    <li class="one-third columns">
                        <div class="jx-location-event">
                            <i class="line-icon icon-location"></i>
                            <div class="jx-info">
                                <div class="jx-bar-head">Mariot Hotel</div>
                                <div class="jx-bar-title">Barrio la Venera, 25</div>
                            </div>
                        </div>
                    </li>
                    <li class="one-third columns">
                        <div class="jx-hotline-event">
                            <i class="line-icon icon-globe"></i>
                            <div class="jx-info">
                                <div class="jx-bar-head">80081 80121</div>
                                <div class="jx-bar-title">support@ievent.com</div>
                            </div>
                        </div>
                    </li>
                    <li class="one-third columns">
                        <div class="jx-subscribe-event">
                            <h2>Subscribe To Newsletter</h2>
                            <form method="post" action="#" class="has-validation-callback">
                                <div class="jx-newsletter-box">
                                    <input type="text" name="jx-newsltter-email" placeholder="Type Your Email" value="">
                                </div>
                                <div class="jx-newsletter-submit">
                                    <input type="submit" name="jx-newsltter-submit" value="Submit">
                                </div>
                            </form>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
